<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HelloServlet</display-name>
  <welcome-file-list>
    <welcome-file>documentUpload.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>DocUploadConvertServlet</servlet-name>
  	<servlet-class>com.pdfPreview.servlet.DocUploadConvertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DocUploadConvertServlet</servlet-name>
  	<url-pattern>/upload.do</url-pattern>
  </servlet-mapping>
  <!-- <servlet>
  	<servlet-name>myServlet</servlet-name>
  	<servlet-class>com.headfirst.servlet.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>myServlet</servlet-name>
  	<url-pattern>/testServletThreadSafe.do</url-pattern>
  </servlet-mapping>
  <session-config>
  	<session-timeout>20</session-timeout>
  </session-config>
  <listener>
  	<listener-class>com.headfirst.servlet.listener.MyServletContextListener</listener-class>
  </listener>
  <listener>
  	<listener-class>com.headfirst.servlet.listener.MyHttpSessionListener</listener-class>
  </listener> -->
</web-app>